    .alert-zero-margin{
        margin-bottom: 0;
    }

    .alert {
        font-size: 18px;
    }

    .btn-zero-margin{
        margin-top: 1em;
    }

    .property-badge-list{
        font-size: 25px;
    }

    .btn-container{
        display: flex;
        flex-wrap: wrap; 
        button{
            height: 100px;
            width: 180px;
            margin: 5px;
        }
    }
