    .alert-zero-margin{
        margin-bottom: 0;
    }

    .alert {
        font-size: 18px;
    }

    .btn-zero-margin{
        margin-top: 1em;
    }

    .property-badge-list{
        font-size: 18px;
    }

    .btn-container{
        display: flex;
        flex-wrap: wrap;
        button{
            height: 75px;
            width: 144px;
            margin: 5px;
            font-size: 19px;
        }
    }

    table {
      margin-bottom: 0;
    }


  .cover-image{
    max-width: 300px;
  }

