    .alert-zero-margin{
        margin-bottom: 0;
    }

    .alert {
        font-size: 18px;
    }

    .btn-zero-margin{
        margin-top: 1em;
    }

    .property-badge-list{
        font-size: 25px;
    }

    .btn-container{
        display: flex;
        flex-wrap: wrap;
        button{
            height: 75px;
            width: 180px;
            margin: 5px;
        }
    }

    table {
      margin-bottom: 0;
    }

    .swi-tabs{
      .nav-tabs .nav-link {
          font-size: 15px !important;
          padding: 20px !important;
      }
    }

  .cover-image{
    max-width: 300px;
  }
