<app-page [title]="'SWI Manager - ' + swi.title" [backButton]="true" [overrideBackButton]="true" [faIcon]="'fa-cubes'" (onBackButtonClick)="navBack()"
  [isLoading]="pageLoading" [loadingMessage]="loadingMessage">
  <!--Add Page level buttons here with page-button class-->
  <div class='page-body'>

    <div class="row">

      <div class="col-md-8">

        <swi-card [title]="'Commands'">

          <span class="badge card-badge" [ngClass]="{'badge-success': environment.isCurrentVersion(swi.appVersion), 'badge-warning': !environment.isCurrentVersion(swi.appVersion)}"
            *ngIf="swi.appVersion"> <i class="fa fa-info-circle"></i>  v{{swi?.appVersion}}</span>

          <div class="card-block">

            <div class="btn-container" data-toggle="buttons">

              <button type="button" (click)="viewSWI()" class="btn btn-lg btn-success"><i class="fa fa-desktop"></i> View</button>
              <button type="button" (click)="editSWI()" class="btn btn-lg btn-warning" *ngIf="!this.requiresUpgrade"><i class="fa fa-cubes"></i> Edit</button>
              <button type="button" swiUpgrade (completed)="upgradeComplete()" [swi]="swi" class="btn btn-lg btn-warning" *ngIf="this.requiresUpgrade"><i class="fa fa-arrow-up"></i> Upgrade</button>
              <button type="button" swiDuplicateButton [swi]="swi" (started)="duplicatingStatus(true)" (completed)="duplicatingStatus(false)"
                class="btn btn-lg btn-primary"><i class="fa fa-copy"></i> Duplicate</button>
              <button type="button" class="btn btn-lg btn-primary" swiExportButton (exportStarted)="exportingStatus(true)" (exportCompelte)="exportingStatus(false)"
                [swi]="this.swi"><i class="fa fa-arrow-down"></i> Export</button>
              <button type="button" swiDeleteButton [swi]="swi" class="btn btn-lg btn-danger"><i class="fa fa-trash"></i> Delete</button>

            </div>

          </div>
        </swi-card>

        <swi-card [title]='"Login to Repository"' *ngIf="!isLoggedIn && (isOutOfSync || loadingRepoError)">
          <div class="card-block">
            <swi-login (loggedIn)="onLoggedIn()"></swi-login>
          </div>
        </swi-card>

        <tabset class="swi-tabs">

          <tab heading="Summary">

            <!-- <swi-card [title]="'Summary'"> -->
            <div class='card-block' *ngIf="!loadingRepo">

              <div *ngIf="!loadingRepoError">
                <!-- Repo Document Property Labels -->
                <div class="property-badge-list">
                  <span class="badge badge-primary">SWI-{{swiMaster?.swiNumber}}</span>
                  <span class="badge badge-primary">{{swiMaster?.type}}</span>
                  <span class="badge badge-primary">Current SWI Revision: {{swiMaster?.latestRevision?.revisionNumber}}</span>
                </div>

                <br>

                <!-- Repo Document Sync Status Alerts  -->
                <!-- <div class="alert alert-warning alert-zero-margin" *ngIf="isOutOfSync"><i class="fa fa-warning"></i> Out of sync with the Repository</div>
                <div class="alert alert-success alert-zero-margin" *ngIf="!isOutOfSync && !this.loadingRepoError"><i class="fa fa-check"></i> In Sync with the Repository - Can be Checked In</div>
                <div class="alert alert-danger alert-zero-margin" *ngIf="loadingRepoError"><i class="fa fa-warning"></i> Not Linked to Repository</div> -->
              </div>

              <div *ngIf="isLoggedIn">
                <div *ngIf="isOutOfSync">
                  <br>
                  <p><strong>Logged In User: {{this.authService?.loggedInUser?.fullName}}</strong></p>
                  <textarea class="form-control" rows="3" [(ngModel)]="syncMessage" placeholder="Brief comment on what has changed since the last sync"
                    style="margin-top: 0px; margin-bottom: 0px; height: 72px;"></textarea>
                  <button type="button" [disabled]="loadingRepo" class="btn btn-lg btn-block btn-primary btn-zero-margin" *ngIf="!isSyncing"
                    (click)="this.syncRepo()"><i class="fa fa-refresh"></i> Sync with Repository</button>
                  <button type="button" [disabled]="true" class="btn btn-lg btn-block btn-primary btn-zero-margin" *ngIf="isSyncing"><i class="fa fa-refresh fa-spin" [ngClass]="{'fa-spin': 'isSyncing'}"></i> Syncing</button>
                </div>

                <div *ngIf="loadingRepoError">
                  <button type="button" [disabled]="loadingRepo" class="btn btn-lg btn-block btn-primary" *ngIf="!isSyncing" (click)="this.syncRepo()"><i class="fa fa-plus"></i> Create SWI in Repository</button>
                  <button type="button" [disabled]="true" class="btn btn-lg btn-block btn-primary btn-zero-margin" *ngIf="isSyncing"><i class="fa fa-refresh fa-spin" [ngClass]="{'fa-spin': 'isSyncing'}"></i> Syncing</button>
                </div>

                <div *ngIf="!isOutOfSync && !loadingRepoError">
                  <p><strong>Logged In User: {{this.authService?.loggedInUser?.fullName}}</strong></p>
                  <textarea class="form-control" rows="3" [(ngModel)]="checkInMessage" placeholder="Brief comment on what has changed" style="margin-top: 0px; margin-bottom: 0px; height: 72px;"></textarea>
                  <button type="button" [disabled]="loadingRepo" class="btn btn-lg btn-block btn-primary btn-zero-margin" (click)="checkIn()"
                    *ngIf="!isSyncing"><i class="fa fa-arrow-up"></i> Check In To Repository</button>
                  <button type="button" [disabled]="true" class="btn btn-lg btn-block btn-primary btn-zero-margin" *ngIf="isSyncing"><i class="fa fa-refresh fa-spin" [ngClass]="{'fa-spin': 'isSyncing'}"></i> Checking Into Repository</button>
                </div>

              </div>

            </div>

            <!-- <div class='card-block' *ngIf="loadingRepo || loadingRepoError">
              <h6 *ngIf="loadingRepo">
                <span class="fa fa-spinner fa-spin"></span> Loading Repo data...
              </h6>
              <h6 *ngIf="loadingRepoError">{{loadingRepoError}}</h6>
            </div> -->
            <!-- </swi-card> -->

          </tab>

          <tab heading="Revisions">
            <!-- <swi-card [title]="'Revisions'" *ngIf="!loadingRepoError"> -->
            <table class="table table-sm table-striped table-hover card-table" *ngIf="swiMaster && !loadingRepoError">
              <thead>
                <tr>
                  <th>Revision #</th>
                  <th>Released</th>
                  <th>Created On</th>
                  <th>Modified On</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let rev of swiMaster?.swiRevisions">
                  <td>{{rev.revisionNumber}}</td>
                  <td>{{rev.released}}</td>
                  <td>{{rev.createdOn | amCalendar}}</td>
                  <td>{{rev.modifiedOn | amCalendar}}</td>
                </tr>
              </tbody>
            </table>
            <!-- </swi-card> -->
          </tab>

          <tab heading="Document Changes">

            <!-- <swi-card [title]="'Document Changes'" *ngIf="!loadingRepoError"> -->
            <table class="table table-sm table-striped table-hover card-table" *ngIf="swiMaster && !loadingRepoError">
              <thead>
                <tr>
                  <th>Updated On</th>
                  <th>User</th>
                  <th>Operation</th>
                  <th>Notes</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let c of swiMaster?.latestRevision?.document?.documentChanges">
                  <td>{{c.changedOn | amCalendar}}</td>
                  <td>{{c.changedBy}}</td>
                  <td>{{(c.changeOperation == 'Attach File') ? 'Sync' : c.changeOperation}}</td>
                  <td><strong>{{c.changeNotes}} </strong></td>
                </tr>
              </tbody>
            </table>
            <!-- </swi-card> -->
          </tab>

        </tabset>

      </div>

      <div class="col-md-4">

        <swi-card [title]="'SWI Overview'">
          <div class="card-block">
            <swi-img [imageKey]="swi.coverImage" [border]="true" width="100%" class="cover-image"></swi-img>
          </div>
        </swi-card>


      </div>
    </div>
  </div>
</app-page>
