.badge-pill{
    margin-right: 15px;
}

.list-group-item{
  transition: background-color 0.5s ease;
  background-color: #fff;
    cursor: pointer;
}

.list-group-item:hover{
    background-color: #f9f6f6;
}

.swi-stage-reorder-btn{   
  border-color: #d07c06;
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

.draggable{
  cursor: move !important;
}

.thumb-img{
  width: 65px;
  height: 65px;
  /*border: 2px solid #535353;
  border-radius: 9px;*/
  box-shadow: 3px 3px 5px #888888;
}

.highlight-stage{
  transition: background-color 0.5s ease;
  /*background-color: #ffe4c4;*/
  background-color: #f0ad4e;
}
.highlight-stage:hover{
  transition: background-color 0.1s ease;
  background-color: #fad4a6 !important; 
}