<div class="image-capture-container">

  <div *ngIf="!isCameraConnected">Cammera not connected!</div>

  <div class="camera">
    <video #video class="video-webcam" autoplay *ngIf="isCapturing"></video>
  </div>

  <canvas #canvas class="canvas-webcam"></canvas>

  <div class="row" *ngIf="devices?.length > 1">
    <div class="col">
      <select class="form-control" [(ngModel)]="selectedDevice" (ngModelChange)="onDeviceChange($event)">>
            <option *ngFor="let device of devices" [ngValue]="device">{{device.label}}</option>
        </select>
    </div>
  </div>

  <button class="capture-button capture-button-left" (click)="getImage()"></button>
  <button class="capture-button capture-button-right" (click)="getImage()"></button>

</div>
