$border-color: #929191;
$backgound-color: #b7b7b7;
$carepoint-color: rgba(255, 0, 0,  0.5);

.swi-viewer{

    .col, .col-2, .col-3,.col-9, .col-10{
        border: solid 2px $border-color;
        padding: 5px;
    }

    .title-col{
        display: flex;
        flex-direction: row;
    }

    .page-title{
        font-weight: bold;
        font-size: 20px;
        align-self: center;
    }

    .brand-image{
        width: 150px;
        height: 39px;
        padding: 5px;
        align-self: flex-end;
    }

    .items{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 5px;
    
        .item{
            border: 1px solid lightgray;
            display: flex;
            flex-direction: row;
            width: 230px;
            margin: 1px;;
        }

        .item-image{
            height: 50px;
            width: 50px;
            margin: 1px;;
        }

        .item-caption{
            padding:2px;
            align-self: center;
            font-weight: bold;
            font-size: 10px;
        }
    }

    .items.tool-items{
        .item-image{
            height: 100px;
            width: 100px;
        }
    }

    .stages{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .stage{
            display: flex;
            margin: 5px;
        }

        .stage-image{
            height: 150px;
            width: 150px; 
            border: 1px solid $border-color;
        }
        
        .stage-sequence{
            font-size: 17px;
            font-weight: bold;
            text-align: center;
            border: 2px solid $border-color;
            background-color: $backgound-color;
            width: 30px; 
            height: 30px; 
        }

        .stage-sequence.carepoint{
            background-color: rgba(255, 0, 0, 0.5);
        }

        .stage-text-container{

            display: flex;
            flex-direction: column;
            width: 160px;
            font-size: 11px;
            font-weight: 600;
            
            .stage-summary{
                padding: 5px;
                height: 100%;
                border: 1px solid $border-color;
            }

            .stage-carepoint{
                padding: 5px;
                background-color: $carepoint-color;
                height: 100%;
                border: 1px solid $border-color;
            }
        }
    }
}

@media screen{
    .page-body{
        padding: 5px !important;
        padding-top: 25px !important;
        margin: 10px !important;
    }
}

@media print {

    @page{
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    html{
        height: inherit;
    }

    body{
        height: inherit;
    }

    .sb, .page-header{
        display: none !important;
    }

    .page{
        margin-right: 0px !important;
    }

    .env-banner{
        display: none !important;
    }

    .page-body{
        margin: 5px !important;
        padding: none !important;
    }
    
    .swi-viewer{

        .stages{
            display: table; 
        }

        .stage-wrapper{
            display: inline-block;
            page-break-inside: avoid;
        }

        // .fixed-header{
        //     position: fixed;
        //     top: 0;
        //     width: 100%;
        //     margin: 0;
        //     margin-bottom: 100px;
        // }
    }
}