<div class="row">
  <div class="col-md-7">

    <div class="image-frame">

      <img class="image-preview" [src]="image" *ngIf="image && isCroppingMode === false && isCaptureMode === false && isFileMode == false">

      <image-file *ngIf="isFileMode" (imageSelected)="this.setImage($event, true)"></image-file>

      <div *ngIf="image && isCroppingMode">
        <image-cropper [image]="image" (onCropped)="this.setImage($event, false)"></image-cropper>
      </div>

      <div *ngIf="isCaptureMode">
        <image-capture (onCaptured)="this.setImage($event, true)" (onCancel)="cancelCapture()"></image-capture>
      </div>

    </div>


  </div>

  <div class="col-md-5 mt-2">

    <button type="button" class="btn btn-primary btn-lg btn-block" (click)="getImageFromFile()" *ngIf="!isCroppingMode"><i class="fa fa-folder-open"></i> From File</button>
    <button type="button" class="btn btn-primary btn-lg btn-block" (click)="getImageFromCamera()" *ngIf="!isCroppingMode"><i class="fa fa-camera"></i> From Camera</button>
    <button type="button" class="btn btn-primary btn-lg btn-block" (click)="toggleCroppingMode()" *ngIf="image && !isCroppingMode"><i class="fa fa-crop"></i> Crop Image</button>
    <button type="button" class="btn btn-danger btn-lg btn-block" (click)="toggleCroppingMode()" *ngIf="image && isCroppingMode">Cancel Cropping</button>
    <button type="button" class="btn btn-success btn-lg btn-block" (click)="this.captureComplete()" *ngIf="image && !isCroppingMode"><i class="fa fa-check"></i> Select Image</button>
    <button type="button" class="btn btn-danger btn-lg btn-block" (click)="this.cancelCapture()" *ngIf="image && !isCroppingMode"><i class="fa fa-ban"></i> Cancel</button>

  </div>

</div>