<swi-card [title]='title'>
  <button type='button' class='btn btn-success card-btn' (click)="addTool()">Add</button>
  <div class='card-block'>

    <div class="tools-container">

      <div class="card" *ngFor="let tool of swi.swiTools" (click)="editTool(tool)">
        <swi-img class="card-img-top" [imageKey]="tool.image" alt="Card image cap"></swi-img>
        <div class="card-block">
          <p class="card-text">{{tool.name}}</p>
        </div>


        <span class="tool-option-selected-icon fa-stack fa-lg" style="display: none" [ngClass]="{'hs-option-selected-icon': this.isSelected(option)}">
          <i class=" fa fa-circle fa-stack-2x"></i>
          <i class=" fa fa-check fa-stack-1x fa-inverse"></i>
        </span>

      </div>

    </div>


  </div>
</swi-card>