<h5>Local Settings</h5>
<div class="list-group">
  <a class="list-group-item" [routerLink]="['/settings/local/features']" routerLinkActive="active">General</a>
  <a class="list-group-item" [routerLink]="['/settings/local/storage']" routerLinkActive="active">Storage</a>
</div>

<br>
<br>

<!--
<h5>SWI Repository Settings</h5>
<div class="list-group">
  <a class="list-group-item" [routerLink]="['/settings/repo/users']" routerLinkActive="active">Users</a>
</div>
<br>
<br>
 -->

<h5>Security</h5>
<div class="list-group">
  <a class="list-group-item" [routerLink]="['/settings/security/users']" routerLinkActive="active">Manage Users</a>
</div>
