<div class="card">
  <div class="card-header sticky-top">

    <div class="read-only-grp-header" *ngIf="!editMode">
      <span class="group-name-label">{{group.name}}</span>
      <div class="btn-group float-right" role="group">
        <button class="btn btn-warning float-right" (click)="editGroup(group)">Edit Group</button>
        <button class="btn btn-success float-right" (click)="addStage(group)">Add Stage</button>
      </div>
    </div>

    <div class="edit-grp-header" *ngIf="editMode">
      <input class="edit-group-name form-control" type="text" [(ngModel)]="group.name">
      <button class="btn btn-success btn-block float-right finish-edit" (click)="editGroup(group)"> <i class="fa fa-save"></i> Save Changes</button>
    </div>

  </div>

  <ul class="list-unstyled list-group list-group-flush">
    <li class="list-group-item media" [ngClass]="{'highlight-stage': stage == this.selectedStage}" *ngFor="let stage of group.stages"
      (click)="editStage(group, stage)">
      <h4><span class="badge badge-pill badge-primary" [ngClass]="{'badge-danger': stage.criticalStep}">{{stage.sequence}}</span></h4>
      <swi-img class="d-flex mr-3 thumb-img" [imageKey]="stage.image" [thumbnail]="true"></swi-img>
      <div class="media-body">
        <h6 class="mt-0 mb-1">{{stage.summary}}</h6>
      </div>

      <div class="btn-group swi-stage-btn-grp" *ngIf="editMode">
        <button type="button" class="btn btn-warning swi-stage-reorder-btn" (click)="moveUp(group, stage)" *ngIf="stage.sequence > 1"><i class="fa fa-arrow-up"></i></button>
        <button type="button" class="btn btn-warning swi-stage-reorder-btn" (click)="moveDown(group, stage)" *ngIf="stage.sequence != group.stages.length"><i class="fa fa-arrow-down"></i></button>
        <button type="button" class="btn btn-primary swi-stage-reorder-btn" duplicateStage (onDuplicated)="stageDuplicated(group, $event)"
          [swi]="swi" [group]="group" [stage]="stage"><i class="fa fa-copy"></i></button>
        <button type="button" class="btn btn-danger swi-stage-reorder-btn" (click)="deleteStage(group, stage)"><i class="fa fa-trash"></i></button>
      </div>

    </li>
  </ul>

</div>