    .alert-zero-margin{
        margin-bottom: 0;
    }

    .alert {
        font-size: 18px;
    }

    .btn-zero-margin{
        margin-top: 1em;
    }

    .property-badge-list{
        font-size: 25px;
    }
