<swi-page [title]="'SWI Builder'">
  <!--Page Buttons-->
  <button type="button" class="btn btn-success page-button">Save Changes</button>

  <!--Page Body-->
  <div class="page-body">


    <h2>Thit is the body of the SWI Builder Screen</h2>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin dui ligula, porta congue risus vitae, pharetra hendrerit massa. Donec maximus laoreet ligula, eget
      hendrerit felis mollis at. Suspendisse convallis enim eget risus consectetur aliquam. Pellentesque luctus erat eget risus congue molestie. Proin venenatis
      luctus odio, ut interdum dui tempor sit amet. Fusce dolor nisi, congue sit amet luctus nec, auctor at tellus. In ac felis non metus bibendum finibus. Etiam
      eu ante laoreet, maximus nisi quis, dapibus leo. Fusce pretium dapibus ex, eget iaculis nibh accumsan in. In ultrices leo eu feugiat faucibus. Curabitur vel
      scelerisque odio. Nunc sed dui fringilla, fringilla ligula quis, elementum massa. Donec ullamcorper vulputate ligula, ac ornare magna. Vivamus nec dolor vel
      mi vestibulum interdum. Aenean ac mauris tristique, consectetur dolor ac, tincidunt turpis. Fusce vestibulum pellentesque enim, non sollicitudin tellus semper
      eget. Nam lacinia sapien eget tortor pharetra, nec pretium augue convallis. Ut lacus sem, mollis in eros et, efficitur sagittis libero. Maecenas ullamcorper
      arcu vitae ex tempor hendrerit ac eget risus. Aenean eu justo ac nisi pharetra vulputate vitae non urna. Praesent eu aliquet turpis. Aenean interdum nisi id
      venenatis faucibus. Ut leo erat, interdum id leo eu, venenatis imperdiet turpis. Vivamus bibendum urna eget odio tristique, id viverra dui molestie. Morbi
      metus libero, congue ut nulla at, molestie rutrum tortor. Nam lacinia eros in diam luctus, at sodales ipsum sagittis. Nulla interdum tellus varius metus consectetur
      aliquam. Vestibulum vitae dapibus mauris, at tincidunt nisl. Sed faucibus magna ac eleifend pulvinar. Donec diam velit, iaculis eget pellentesque non, vestibulum
      et nulla. Nulla sed placerat libero, lobortis pellentesque sem. Pellentesque hendrerit luctus lacus a lacinia. Phasellus imperdiet ex eu lacus hendrerit, at
      tempor justo porta. In ac magna ipsum. Ut id ornare urna, eu lacinia erat. Quisque cursus felis et libero facilisis, a sagittis turpis lacinia. Pellentesque
      sit amet ultricies nisi. Nulla erat magna, dignissim vitae sagittis eget, ornare in ex. Morbi ac neque quis turpis maximus dapibus feugiat a lectus. Duis tristique
      volutpat sapien, id auctor sem aliquam sed. Maecenas sed tincidunt dolor. Quisque sollicitudin pulvinar augue sit amet volutpat. Aliquam congue nisl diam,
      quis blandit massa vestibulum ut. Duis posuere lobortis vehicula. Sed id vulputate lectus, sit amet egestas justo. Praesent vehicula ullamcorper ultrices.
      Phasellus feugiat id sem at volutpat. Vestibulum quis risus eget leo scelerisque interdum. Nullam vitae sodales arcu, quis sodales sapien. Etiam bibendum lorem
      mauris, eu cursus eros blandit vel. Integer rhoncus, elit et suscipit feugiat, enim lacus iaculis ex, quis placerat nibh enim eget orci. Sed lorem sem, fringilla
      at rutrum ut, gravida vitae odio. In porta tellus sit amet leo mollis, eget feugiat neque auctor. Donec luctus odio ac est interdum lacinia.
    </p>
  </div>

</swi-page>