.list-group-item{
    border-radius: 0;
}

.list-item-btn{
 position: absolute;
 top: 20px;
 right: 20px;   
}

.list-item-new-from{
    background-color: #ffffda;
    cursor: pointer;
}

.role{
    cursor: pointer;
}

.selected{
    background-color: #ffdea2;
}

.table{
    margin-bottom: 0;

    tbody{
        cursor: pointer;
    }

}

.add-row{
    background-color: #caffca;
}