<div id="sidebar">
    <div id="sidebar-items">
        <div class="sidebar-menu">
            <p class="sidebar-menu-title">MAIN</p>
            <ul>
                <li routerLink="/">
                    <a><i class="icon fa fa-dashboard"></i>Home</a>
                </li>
                <li routerLink="/demo">
                    <a><i class="icon fa fa-desktop"></i>Demo</a><span class="label label-primary">10</span>
                </li>
                <li routerLink="/swibuilder">
                    <a><i class="icon fa fa-users"></i>SWI Builder</a><span class="label label-primary">15</span>
                </li>
            </ul>
            <hr />
        </div>
        <div class="flex-spacer"></div>
        <div id="sidebar-footer">
            <p>B/E Aerospace</p>
            <p>SAO Systems Dept. 2017</p>
        </div>
    </div>
</div>