<div id="sidebar">
    <div id="sidebar-items">
        <div class="sidebar-menu">
            <p class="sidebar-menu-title">MAIN</p>
            <ul>
                <li routerLink="/">
                    <a><i class="icon fa fa-dashboard"></i>Home</a>
                </li>
                <li routerLink="/demo">
                    <a><i class="icon fa fa-desktop"></i>Demo</a><span class="label label-primary">10</span>
                </li>
                <li [routerLink]="['/swibuilder']">
                    <a><i class="icon fa fa-users"></i>SWI Builder New</a><span class="label label-primary">15</span>
                </li>
                <li [routerLink]="['/swibuilder', {filename: 'test.swi'}]">
                    <a><i class="icon fa fa-users"></i>SWI Builder Test</a><span class="label label-primary">15</span>
                </li>
                <li [routerLink]="['/swibuilder', {filename: 'Test123.swi'}]">
                    <a><i class="icon fa fa-users"></i>SWI Builder Invalid</a><span class="label label-primary">15</span>
                </li>
            </ul>
            <hr />
            <p class="sidebar-menu-title">Options</p>
            <ul>
                <li>
                    <a (click)="toggleKioskMode()"><i class="icon fa fa-arrows-alt"></i>Kiosk Mode</a>
                </li>
                <li>
                    <a (click)="toggleDevTools()"><i class="icon fa fa-code"></i>Developer Tools</a>
                </li>
                <li>
                    <a (click)="quitApp()"><i class="icon fa fa-times"></i>Close</a>
                </li>
            </ul>
        </div>
        <div class="flex-spacer"></div>
        <div id="sidebar-footer">
            <p>B/E Aerospace</p>
            <p>SAO Systems Dept. 2017</p>
        </div>
    </div>
</div>