<div class="page">

    <div class="page-header">

        <span class="fa fa-arrow-left page-header-back" (click)="navBack()" *ngIf="backButton"></span>

        <div class="page-header-title">
            <i class="fa" [ngClass]="faIcon"></i> {{title}}
        </div>

        <div class="btn-group btn-group-sm" role="group" aria-label="First group">
            <ng-content select=".page-button"></ng-content>
        </div>
    </div>

    <div class="page-body" *ngIf="!isCameraMode">
        <ng-content select=".page-body"></ng-content>
    </div>

    <div class="page-camera" *ngIf="isCameraMode">
        <swi-camera [captureImage]="this.captureImage" (onCaptured)="onCaptured()"></swi-camera>
    </div>

</div>