.page-header{
    height: 50px;
    background-color: #E4551F;
    border-bottom: #D93A2A 1px solid;
    border-top: #D93A2A 1px solid;
    font-size: 20px;
    align-items: center;
    display: flex;
    z-index: 1030;
    width: 100%;   
    position: fixed;
    top: 0;
}

.page-header-title{
        padding-left: 10px;
        font-weight: bold;
        font-weight: 400;
        color: #fff;
}

.page-header-back{
        padding: 15px 20px;
        background-color: #E4551F;
        color: #fff;
        border-right: 2px solid #D93A2A;
}

.page-header-back:hover{
        background-color: #D93A2A;
}

.page-body{
        padding:10px;
        overflow: hidden;
        /*margin-top: 70px;*/
            margin-top: 40px;
}

.btn-group{
    /*margin-left: auto;*/
    z-index: 1031;
    margin-right: 30px;
    position: fixed;
    right: 0;
    
}
