<app-page [title]='title'>
  <!--Add Page level buttons here with page-button class-->
  <button type='button' class='page-button btn btn-primary' (click)="createSWI()">Create SWI</button>
  <div class='page-body'>
    <!--Page Content Here   -->
    <div class="row">
      <div class="col">
        
        <!--Name-->
        <label for="newSWIName">SWI Name</label>
        <input type="text" class="form-control" name="swiName" [(ngModel)]="swiName" placeholder="Enter swi name...">
        
      </div>
      <div class="col"></div>
    </div>
  </div>
</app-page>