<app-page [title]='title'>
  <!--Add Page level buttons here with page-button class-->
  <!--<button type="button" class="btn btn-success btn-lg float-right page-button" (click)="saveFile()">Save</button>-->

  <div class='page-body' *ngIf="stage">
    <!--Page Content Here   -->

    <form name="header-form">

      <div class="row">
        <!--Column 1-->
        <div class="col-lg">

          <!--Summary-->
          <div class="form-group">
            <label for="title">Summary</label>
            <input type="text" class="form-control" required name="summary" [(ngModel)]="stage.summary">
          </div>

          <!--Description-->
          <div class="form-group">
            <label for="title">Description</label>
            <textarea class="form-control" rows="5" name="description" [(ngModel)]="stage.description"></textarea>
          </div>

          <!--Is Released (Checkbox)-->
          <div class="row min-height-80 padding-top-20">
            <div class="col">
              <label>Is Critical Step</label>
            </div>
            <div class="col">
              <div class="switch float-right">
                <input id="swi-header-isCritical" class="cmn-toggle cmn-toggle-round" type="checkbox" name="isCritical" [(ngModel)]="stage.criticalStep">
                <label for="swi-header-isCritical"></label>
              </div>
            </div>
          </div>

          <!--Care Point Text-->
          <div class="form-group" *ngIf="stage.criticalStep">
            <label for="title">Care Point</label>
            <textarea class="form-control care-point-input" rows="5" name="carepoint" [(ngModel)]="stage.carePoint"></textarea>
          </div>

        </div>

        <!--Column 2-->
        <div class="col-lg">
          <label for="stageImage">Stage Image</label>
          <div id="stageImage" class='card-block'>
            <img width="400px" height="400px" [src]="'data:image/jpg;base64,' + getImageFromKey(stage.image)" *ngIf="!isFetchingImage"
              (click)="addImage()">
            <image-fetcher (imageSelected)="imageSelected($event)" *ngIf="isFetchingImage" [image]="getImageFromKey(stage.image)"></image-fetcher>
          </div>
        </div>
      </div>

    </form>

  </div>
</app-page>