<app-page [title]="'Demo'">

  <button type="button" class="page-button btn btn-primary" (click)="toggleKioskMode()">Toggle Kiosk Mode</button>

  <div class="page-body">

    <h2>Demo Component</h2>

    <ul>
      <li>Kiosk Mode: {{isKioskMode}}</li>
    </ul>

    <ul>
      <li>Toast Test</li>
      <li><button type="button" (click)="showSuccess()">Success</button>
        <li><button type="button" (click)="showError()">Error</button>
          <li><button type="button" (click)="showWarning()">Warning</button>
            <li><button type="button" (click)="showInfo()">Info</button>
              <li><button type="button" (click)="showCustom()">Custom</button>
    </ul>


    <button type="button" class="btn btn-primary" (click)="setZoom()">Set Zoom</button>
    <input type="number" class="form-control" [(ngModel)]="zoomFactor">

  </div>

</app-page>