.tool-options-container{
    display: flex;
    flex-wrap: wrap;
}

.tool-option{  
    border: 2px dashed darkgray;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 124px;
    padding: 5px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    /*cursor: pointer;*/
    position: relative;
}

.tool-option:hover{
//   -moz-transform: scale(1.05);
//   -webkit-transform: scale(1.05);
//   transform: scale(1.05);
  border:2px dashed #3d464d;
  cursor: pointer;
}

.tool-option-caption{
    margin-top: 10px;
    max-width: 100px;
    font-size: 11px;
    font-weight: 700;
    text-align: center;
}

.tool-option-selected{
    border:2px dashed #35d035;
}

.tool-option-selected:hover{
    border:2px dashed #35d035;
}

.tool-option-selected-icon{
    color: #35d035;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    right: 0px;
    top: 0px;
    display: initial !important;
}

swi-img{
    height: 100px;
    width: 100px;
}

  .tool-move-icon{
    color: #0275d8;
    position: absolute;
    font-size: 27px;
    right: 0px;
    top: 0px;
    display: initial !important;
}

.tool-move-icon-hide{
    display: none !important;
}

.dropdown-menu {
    position: absolute;
    top: 50px;
    left: 0;
    // display: none;
    float: left;
    min-width: 10rem;
    padding: 0.75rem 0;
    margin: 0.125rem 0 0;
    font-size: 1.5rem;
    color: #292b2c;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 2px solid rgba(0, 0, 0, 0.8);
    border-radius: 0.25rem;
    z-index: 9999;
}