<div class="tool-options-container">

  <span class="tool-option" *ngFor="let tool of group.tools" (click)="onSelected(tool)">
        <swi-img [imageKey]="tool.image" [border]="false"></swi-img>
        <span class="tool-option-caption">{{tool.name}}</span>

  <!--<span class="fa-stack fa-lg" style="display: none" [ngClass]="{'hs-option-selected-icon': this.isSelected(option)}">-->
  <!--<div dropdown [placement]="'left'" *ngIf="swi.stageGroups.length > 1">-->
  <div dropdown [placement]="'left'" >

    <span dropdownToggle class="fa-stack fa-lg tool-move-icon" [ngClass]="{'tool-move-icon': editMode, 'tool-move-icon-hide': !editMode}"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class=" fa fa-circle fa-stack-2x "></i>
        <i class=" fa fa-arrows-v fa-stack-1x fa-inverse "></i>
      </span>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
      <li role="menuitem" *ngFor="let grp of groupOptions"><a class="dropdown-item" (click)="moveToolToGroup(tool, grp)">{{grp.sequence}} - {{grp.name}}</a></li>
    </ul>
  </div>


  </span>

</div>