<div class="modal-frame">

  <div class="btn-group btn-group-lg img-menu">

    <button type="button" class="btn btn-primary" (click)="getImageFromFile()" *ngIf="!isCroppingMode"><i class="fa fa-folder-open"></i> From File</button>
    <button type="button" class="btn btn-primary" (click)="getImageFromCamera()" *ngIf="!isCroppingMode"><i class="fa fa-camera"></i> From Camera</button>
    <button type="button" class="btn btn-primary" (click)="toggleCroppingMode()" *ngIf="image && !isCroppingMode"><i class="fa fa-crop"></i> Crop Image</button>
    <button type="button" class="btn btn-danger" (click)="toggleCroppingMode()" *ngIf="image && isCroppingMode">Cancel Cropping</button>
    <button type="button" class="btn btn-success" (click)="imageComplete()" *ngIf="image && !isCroppingMode"><i class="fa fa-check"></i> Select Image</button>
    <button type="button" class="btn btn-danger" (click)="cancelImageCapture()" *ngIf="image && !isCroppingMode"><i class="fa fa-ban"></i> Cancel</button>

  </div>

  <div class="image-frame">

    <img class="image" [src]="image" *ngIf="image && isCroppingMode === false && isCaptureMode === false && isFileMode == false">

    <image-file *ngIf="isFileMode" (imageSelected)="imageCaptured($event)"></image-file>

    <div *ngIf="image && isCroppingMode">
      <image-cropper [image]="image" (onCropped)="onCropped($event)"></image-cropper>
    </div>

    <div *ngIf="isCaptureMode">
      <image-capture (onCaptured)="imageCaptured($event)" (onCancel)="cancelImageCapture()"></image-capture>
    </div>

  </div>

</div>