<app-page [title]="'SWI Builder'">
  <!--Add Page level buttons here with page-button class-->
  <button type='button' class='page-button btn btn-warning' (click)="openLocalDocsDir()">Open Folder</button>
  <button type='button' class='page-button btn btn-success' (click)="createFile('Test123.swi')">Create File</button>
  <button type='button' class='page-button btn btn-primary' (click)="getFile('Test123.swi')">Get Invalid File</button>
  <button type='button' class='page-button btn btn-primary' (click)="getFile('test.swi')">Get Test Image File</button>
  <button type='button' class='page-button btn btn-primary' (click)="getFile('test-noimg.swi')">Get Test No Image File</button>
  <div class='page-body'>
    <!--Page Content Here   -->
    <p>
      swi-builder-screen works!
    </p>

    <h2 *ngIf="isLoading">Loading File...</h2>

    <div *ngIf="swi">

      <ul>
        <li>{{swi.title}}</li>
        <li>{{swi.revision}}</li>
        <li>{{swi.author}}</li>
      </ul>

      <ul>
        <li *ngFor="let img of swi.swiImages">
          <img [src]="'data:image/jpg;base64,' + img.value">
        </li>
      </ul>

    </div>

  </div>
</app-page>