<div id="content-body">
  <main>
    <div id="sidebar-container">
      <app-sidenav></app-sidenav>
    </div>

    <div id="content">
      <router-outlet></router-outlet>
    </div>

    <!--Added the breaks as a quickfix to allow all content to be visible on the overflow-->
    <br>
    <br>
    <br>
  </main>
</div>

<!-- <app-page [title]='title' [backButton]="false">
  <div class='page-body'>
    <h1>Home</h1>


    <input type="text" name="username" [(ngModel)]="username" placeholder="Username">
    <input type="password" name="password" [(ngModel)]="password" placeholder="Password">
    <button type="button" class="btn btn-sm" (click)="login()">Login</button>

    <br>
    <br>
    <br>

    <input type="number" [(ngModel)]="this.docId">
    <button class="btn btn-default" (click)="this.debugDBSize()">Debug DB Size</button>
    <button class="btn btn-default" (click)="this.getDocument()">Get Document</button>
    <button class="btn btn-default" (click)="this.getDocuments()">Get Documents</button>
    <button class="btn btn-default" (click)="this.createDocument()">Create Document</button>
    <button class="btn btn-default" (click)="this.attatchFile()">Attatch File</button>
    <button class="btn btn-default" (click)="this.linkPart()">Link to Part</button>

    <button class="btn btn-primary" swiUpdateAppCatalog>Update App Catalog</button>

    <input type="text" [(ngModel)]="partNumber" name="partNumber">
    <input type="text" [(ngModel)]="revision" name="revision">

    <div *ngIf="linkPartErrorMessage">
      <span class="text text-danger">{{linkPartErrorMessage}}</span>
    </div>

    <div *ngIf="loading">
      <span class="loading-text">{{loadingMsg}}</span>
    </div>

    <ul>
      <li *ngFor="let doc of docs">
        {{doc.id}}
      </li>
    </ul>


    <h2>Title: {{this.swiTest?.title}}</h2>

    <ul>
      <li *ngFor="let linkPart of doc?.documentPartLinks">
        {{linkPart.partNumber}} at {{linkPart.revision}}
      </li>
    </ul>

  </div>
</app-page> -->
