
#content-body {
    height: 100%;
 }

    #content-body main {
        display: flex;
        flex-direction: row;
        height: 100%;
    }

#content {
    font-size: 12px;
    height: 100%;
    flex: 1;
    overflow: overlay;
}

.form-horizontal {
    display: flex;
    flex-direction: column;
}

textarea.form-control {
    height: 100%;
}
