<app-page [title]="' Search Repository'" [backButton]="false" [faIcon]="'fa-search'">
  <!--Add Page level buttons here with page-button class-->
  <!--<button type='button' class='page-button btn btn-primary'>Page Menu Button</button>-->
  <div class='page-body'>
    <!--Page Content Here   -->

    <swi-card [title]="'Filter'">
      <div class='card-block'>

        <div class="row">
          <div class="col">

            <!--Search by Title-->
            <label for="repo-search-swino">SWI Number</label>
            <input id="repo-search-swino" type="text" class="form-control" [(ngModel)]="searchCriteria.swiNumber" (keyup.enter)="search()">

          </div>
          <div class="col">

            <!--Search by Title-->
            <label for="repo-search-title">Title</label>
            <input id="repo-search-title" type="text" class="form-control" [(ngModel)]="searchCriteria.title" (keyup.enter)="search()">

          </div>
        </div>
        <br>
        <button type="button" class="btn btn-primary btn-block" (click)="search()"><i class="fa fa-search"></i> Search</button>

      </div>
    </swi-card>

    <swi-card [title]="'Search Results'">

      <!--Loading Message-->
      <div class='card-block' *ngIf="loading">
        <h5>
          <i class="fa fa-spinner fa-spin"></i> Searching SWI Repository...
        </h5>
      </div>


      <table class="table card-table table-hover">
        <thead>
          <tr>
            <th>SWI #</th>
            <th>Title</th>
            <th>SWI Revision</th>
            <th>Modified On</th>
            <th>Category</th>
            <th>Checked Out To</th>
            <th>Size</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let result of results">
            <td>
              <h5><span class="badge badge-pill badge-primary">SWI-{{result.swiNumber}}</span></h5>
            </td>
            <td class="swi-title"><strong>{{result.title}}</strong></td>
            <td>{{result.latestRevision.revisionNumber}}</td>
            <td>{{result.latestRevision.modifiedOn | amCalendar}}</td>
            <td><span class="badge badge-default">{{result.type}}</span></td>
            <td><span class="badge badge-danger">{{result?.latestRevision?.document?.checkedOutBy}}</span></td>
            <td><span class="badge badge-warning">{{result.latestRevision.document.fileSize * 0.000001 | round}} Mb</span></td>
            <td>
              <div class="btn-group">

                <button type="button" class="btn btn-primary" *ngIf="!isImporting(result.id) &&!isImported(result.latestRevision.swiFileId)"
                [disabled]="result?.latestRevision?.document?.checkedOut" (click)="importLatestRevision(result)"> <i class="fa fa-arrow-down"></i> Import</button>

                <button type="button" class="btn btn-warning" *ngIf="isImporting(result.id)"> <i class="fa fa-spinner fa-spin"></i> Importing</button>

                <button type="button" class="btn btn-success" *ngIf="isImported(result.latestRevision.swiFileId)" disabled> <i class="fa fa-check"></i> Imported</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </swi-card>

  </div>
</app-page>
