.card{
    margin-bottom: 10px;
    
    .card-block{
        padding: 0.5rem !important;
    }   
}

.card-header{
    font-size: 16px;
    font-weight: bold;
    top: 50px !important;
    display: flex;
    align-items: center;
}

.title{
    width: 100%;
}

.card-badge-container{
    display: flex;
    flex-direction: row;
}
